nav {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    padding: 0 3rem;
    background-color: #242424;
    border-radius: 100px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.top {
    padding: 1.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    align-self: stretch;
}

#menu {
    display: none;
}

.top-left {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: stretch;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: auto;
    gap: 1rem;
}

.menu-item {
    display: flex;
    align-items: center;
}

.top-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    width: stretch;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;  
}

.search-overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

#search {
    background-image: url('../assets/Icons/search.png');
    background-repeat: no-repeat;
    background-position: center left 1rem;
    background-color: #F2F4F8;
    border-radius: 6.25rem;
    padding: 0.75rem 1rem 0.75rem 3rem;
    display: flex;
    align-items: center;
    width: stretch;
    height: stretch;
    font-size: 1rem;
}

#search:focus {
    outline: none;
}

#dropdown-search-mobile {
    background-image: url('../assets/Icons/search-mobile.png');
    background-repeat: no-repeat;
    background-position: center left 1rem;
    background-color: #242424;
    padding: 1rem 1rem 1rem 4rem;
    display: flex;
    align-items: center;
    width: stretch;
    height: stretch;
    font-size: 1.125rem;
    font-weight: 400;
    color: #FFF;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#dropdown-search-mobile::placeholder {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 400;
}

#dropdown-search-mobile:focus {
    outline: none;
}

.exit-zone {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 6rem;
    background-color: #242424;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    width: 23rem;
}

.dropdown-mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -100%;
    background-color: #242424;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}

.dropdown-category, .dropdown-product {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropdown-item, .dropdown-title {
    padding: 1rem 1.25rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.50);
    margin-left: 1rem;
    margin-right: 1rem;
}

.dropdown-title {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.dropdown-item-product {
    display: flex;
    gap: 1rem;
    padding: 1rem 1.25rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.50);
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;
    margin-right: 1rem;
}

#Xbox-Series-X-search {
    width: 3.5625rem;
    height: 3.5625rem;
    background: url("../assets/xbox-card.jpeg") -75.104px 0px / 262.188% 100% no-repeat;
}

#Nintendo-Switch-Lite-search {
    width: 3.5625rem;
    height: 3.5625rem;
    background-image: url("../assets/nintendo-switch-light.jpg");
    background-size: cover;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

#search-mobile {
    display: none;
}


#cart, #cart-hide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    
}

#cart-hide {
    display: none;
}

#cart-count{
    background-color: #C80000;
    color: white;
    border-radius: 50%;
    padding: 0.3rem 0.4rem;
    position: relative;
    top: -0.6rem;
    right: 0.5rem;
    align-items: center;
    display: none;
    margin: -0.5rem;
}

.icons {
    width: 2.25rem;
    height: 2.25rem;
}

@media screen and (max-width: 1100px) {
    nav {
        padding: 0 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .top {
        padding: 0.5rem 1rem;
    }
    .menu {
        display: none;
    }
    #menu {
        display: flex;
    }
    .search-overlay {
        display: none;
    }
    #search-mobile {
        display: flex;
    }
    .icons {
        width: 1.5rem;
        height: 1.5rem;
    }
    #cart-icon, #profile-icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    #cart-count {
        padding: 0.15rem 0.3rem;
        top: -0.4rem;
        right: 0.2rem;
    }
}