footer {
    background-color: #000000;
    padding: 3em 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2.5em;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    margin-bottom: 2em;
}



.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-menu-heading {
    margin-bottom: 1em;
}

.footer-menu-item {
    margin-bottom: 0.5em;
}

.payment-group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
}

.payment{
    margin-right: 1em;
}

.social {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.icons-group {
    display: flex;
    align-items: center;
}

hr {
    width: 100%;
    border: 1px solid #fff;
    margin: 1em 0;
    border-radius: 100px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-top: 2em;
}

.policy {
    display: flex;
    align-items: center;
}

.policy-item {
    margin-left: 3em;
}