nav {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    padding: 0 3rem;
    background-color: #242424;
    border-radius: 100px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 2rem;
    
}
.top {
    padding: 1.5rem 2.5rem;
    display: flex;
    align-self: stretch;
    align-items: center; 
}

.logo {
    margin-right: 2rem;
}

.menu {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 2rem;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.search {
    background-color: #F2F4F8;
    border-radius: 6.25rem;
    padding: 0.75rem 1rem;;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    width: 12rem;
    height: 1.5rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#cart, #cart-hide {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 1em;
}

#cart-hide {
    display: none;
}

#cart-count{
    background-color: #C80000;
    color: white;
    border-radius: 50%;
    padding: 0.25rem 0.4rem;
    font-size: 0.75rem;
    position: relative;
    top: -2.8rem;
    left: 1.3rem;
    align-content: center;
    display: none;
}

#profile {
    width: 2.25rem;
    height: 2.25rem;
}