@import url(https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap);

p {
    margin: 0;
    padding: 0;
}

#cart-count {
    font-family: 'Saira',sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
}

.logo-text {
    font-family: 'Saira',sans-serif;
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

.menu-text {
    font-family: 'Saira',sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    margin-right: 8px;
}

.footer-logo-text {
    font-family: 'Saira',sans-serif;
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

.footer-menu-heading-text, .side-menu-text{
    font-family: 'Saira',sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

.footer-menu-text, .number, .menu-button{
    font-family: 'Saira',sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    color: #fff;
    margin-bottom: 0.5rem;
}

.copy-text, .side-menu-text-2 {
    font-family: 'Saira',sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
    color: #fff;
}

h1 {
    font-family: 'Saira',sans-serif;
    font-size: 3.375rem;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    margin: 0;
}

h2 {
    font-family: 'Saira',sans-serif;
    font-size: 2.625rem;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    margin: 0;
}

h3 {
    font-family: 'Saira',sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin: 0;
}

.product-category {
    font-family: 'Saira',sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    font-style: normal;
    color: #AEAEAE;
    margin: 0;
}

.product-name, .product-button, .subtotal{
    font-family: 'Saira',sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    line-height: 110%;
}

.product-promotion, .product-promotion-bigger{
    font-family: 'Saira',sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    line-height: 1.25rem;
    margin: 0;
}

.product-promotion-bigger {
    font-size: 1.25rem;
}

.product-price {
    font-family: 'Saira',sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    line-height: 110%;
    margin: 0;
}

.category-name {
    font-family: 'Saira',sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    line-height: 110%;
    margin: 0;
}

.description {
    font-family: 'Saira',sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    line-height: 140%;
    margin-bottom: 1.5em;
}

.join-button {
    color: #FFF;
    font-family: 'Saira',sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
    letter-spacing: 0.03125rem;
}

/* Product list */
.filter {
    font-family: 'Saira',sans-serif;
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    margin: 0;
    line-height: 110%;
}

.sort-text {
    font-family: 'Saira',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-right: 3rem;
    line-height: 140%;
}

.product-card-button {
    font-family: 'Saira',sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    line-height: 100%;
    letter-spacing: 0.03125rem;
}

/* Product page */
.product-description-text {
    font-family: 'Saira',sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    line-height: 140%;
}

.status-text {
    font-family: 'Saira',sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    color: #25DE38;
    line-height: 100%;
}

.short-info {
    font-family: 'Saira',sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    line-height: 140%;
}

.product-button {
    color: #242424;
    letter-spacing: 0.03125rem;
}

.quantity-number, #placeholder {
    font-family: 'Saira',sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    line-height: 100%;
}

/*Checkout page*/
#back-home-button {
    font-family: 'Saira',sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    font-style: normal;
    color: 242424;
    line-height: 140%;
}

#order-track-button {
    font-family: 'Saira',sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    line-height: 140%;
}

.product-desc {
    font-family: 'Saira',sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    line-height: 140%;
}
.confirm-payment-btn {
    font-family: 'Saira',sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    line-height: 140%;
}
.radio-text {
    font-family: 'Saira',sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

/* Added to cart popup */
.continue-shopping, .checkout-btn {
    font-family: 'Saira',sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    line-height: 100%;
}

/* Cart overlay*/
.cart-title {
    font-family: 'Saira',sans-serif;
    font-size: 2rem;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    line-height: 110%;
}

#Apply {
    font-family: 'Saira',sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    line-height: 100%;
}

.subtotal {
    font-family: 'Saira',sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    line-height: 110%;
}

.total-price {
    font-family: 'Saira',sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    line-height: 110%;
}